<ion-content >
  <div class="ion-padding">
<h1>ADD AMENITIES </h1>

<mat-card>
 
   <form flex-form  [formGroup]="amenities" (ngSubmit)="saveAmenities()" #form="ngForm">

      <mat-form-field size-md color="accent"  appearance="outline" >
        <mat-label> AMENITIES NAME</mat-label>
        <input matInput formControlName="amenitiesName" placeholder="AMENITIES NAME">
        <mat-error style="color: red;"
          *ngIf=" amenities.get('amenitiesName').hasError('required') && form.submitted">
          AMENITIES NAME REQUIRED
        </mat-error>
      </mat-form-field>

      <mat-form-field size-md color="accent"  appearance="outline" >
        <mat-label> DESCRIPTION</mat-label>
        <input matInput formControlName="amenitiesDescription" placeholder="DESCRIPTION">
       
      </mat-form-field>
     

      <div class="btn">
        <button  mat-raised-button type="submit"   color="primary" >SUBMIT</button>
        <button  mat-raised-button type="reset" style="margin-left: 10px;" color="primary" >RESET</button>    
      </div>
     
    </form> 

   </mat-card>
  </div>
</ion-content>